$brand-primary: #e07304;
$brand-secondary: #fefbf8;

$body-background: #FFF;
$body-color: #434343;
$body-font: 'Source Sans Pro', sans-serif;

$header-background: #343434;
$header-color: #FFF;
$header-font: 'Open Sans Condensed', sans-serif;

$feature-font: 'Inconsolata', monospace;
$feature-color: #00a9ce;
